button,
div,
form,
input,
h1 {
  margin: 10px;
}

.gif-border {
    border: 1px solid white;
}
body {
    background-color: black;
}
p {
    color: white
}
h1 {
    color: white;
    text-indent: 10px;
}
#topic-form {
    color: white;
    text-indent: 5px;
}

